.block-title {
  display: flex;
  flex-direction: row;
  font-family: Inter;
  font-size: 20px;
  font-weight: 600;
  color: #FF6B82;
}

h2:before,
h2:after {
  content: "";
  flex: 1 1;
  border-bottom: 2px solid #000;
  margin: auto;
  opacity: 0.5;
}

.checkbox-round {
  width: 25px;
  height: 25px;
  background-color: white;
  border-radius: 50%;
  vertical-align: middle;
  border: 2px solid #C8C8C8;
  appearance: none;
  -webkit-appearance: none;
  outline: none;
  cursor: pointer;
}

.checkbox-round:checked {
  background-color: #FF6B82;
  border: 2px solid #FF6B82;
}

.checkbox-1 {
  margin-bottom: 20px;
  ;
}

.top-container {
  display: block;
  width: 340px;
  margin: 0 auto;
}

.popular-tag {
  width: 105px;
  font-size: 12px;
  color: white;
  background-color: #FF6B82;
  position: absolute;
  top: -8px;
  left: 227px;
  opacity: 1;
  border-radius: 3px;

  font-family: Inter;
  font-size: 12px;
  font-weight: 700;
  line-height: 14.52px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;

}

.inner-top-box {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 2px solid lightgrey;
  height: 74px;
  margin-bottom: 20px;
}

.inner-bottom-box {
  margin: 10px 0px;
  display: none;
}

.left {
  float: left
}

.right {
  margin-left: 80px;
  float: right;
}

.discount {
  width: 55px;
  height: 17px;
  padding: 2px 5px;
  border-radius: 1px 0px 0px 0px;
  color: white;
  background-color: #FF6B82;
}

.left-tags {
  display: inline-block;
  margin-top: 10px;
}

.left-tags p {
  margin: 0px;
}

.cross-price {
  display: block;
  width: 58px;
  height: 12px;
  margin-left: 10px opacity: 0.3px;
  font-family: Inter;
  font-size: 10px;
  font-weight: 400;
  line-height: 12.1px;
  text-align: left;
  text-decoration-line: line-through;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: grey;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  font-weight: 100;
  text-align: left;
  padding: 8px;
  font-size: 14px;
}

/*DROPDOWN CSS*/

.dropbtn {
  padding: 5px;
  font-size: 16px;
  cursor: pointer;
  font-family: Inter;
  font-size: 10.85px;
  font-weight: 400;
  line-height: 13.13px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  width: 65.98px;
  height: 25.31px;
  gap: 0px;
  border-radius: 1.81px 0px 0px 0px;
  border: 0.9px 0px 0px 0px;
  opacity: 0px;


}

/* .dropbtn:hover,
.dropbtn:focus {
  background-color: #FF6B82;
} */

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {
  background-color: #ddd;
}

.show {
  display: block;
}


/*Add to cart button*/

.add-to-cart {
  border: 0px;
  width: 342px;
  height: 40px;
  border-radius: 4px;
  background-color: #FF6B82;
  color: white;
}

/*free delivery and total css*/
.price {
  margin: 10px 0px;
}

.left-column {
  color: #FF6B82;
  font-family: Inter;
  font-size: 14px;
  font-weight: 500;
  line-height: 16.94px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;

}

.rigth-column {
  width: 124px;
  height: 17px;
  float: right;
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 16.94px;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;


}